# bare HTTP server, temporary
server {
    listen      80;
    listen      [::]:80;
    server_name {{ website_address }};
    
    location / {
        proxy_pass http://unix:{{ app_src_dir }}/{{ app_name }}.sock;
        include snippets/proxy.conf;
    }

    # additional config
    include snippets/general.conf;
}
