server {
    listen                  443 ssl http2;
    listen                  [::]:443 ssl http2;
    server_name             {{ website_address }};

    # SSL
    ssl_certificate         /etc/letsencrypt/live/{{ website_address }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ website_address }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ website_address }}/chain.pem;

    # security
    include                 snippets/security.conf;

    # logging
    access_log              {{ app_logs_dir }}/access.log combined buffer=512k flush=1m;
    error_log               {{ app_logs_dir }}/error.log warn;

    root {{ app_webroot_dir }};

    location / {
        proxy_pass http://unix:{{ app_src_dir }}/{{ app_name }}.sock;
        include snippets/proxy.conf;
    }

    {% if website_has_static %}
        location /static {
            alias {{ app_webroot_dir }}/static;
        }
    {% endif %}

    # additional config
    include snippets/general.conf;
}

# HTTP redirect
server {
    listen      80;
    listen      [::]:80;
    server_name {{ website_address }};

    location / {
        return 301 https://$host$request_uri;
    }
}
