# HTTP-only server
server {
    listen      80;
    listen      [::]:80;
    server_name {{ website_address }};

    # logging
    access_log              {{ app_logs_dir }}/nginx-access.log combined buffer=512k flush=1m;
    error_log               {{ app_logs_dir }}/nginx-error.log warn;

    root {{ app_webroot_dir }};
    
    location / {
        proxy_pass http://unix:{{ app_src_dir }}/{{ app_name }}.sock;
        include snippets/proxy.conf;
    }

    {% if website_has_static %}
        location /static {
            alias {{ app_webroot_dir }}/static;
        }
    {% endif %}

    location /goaccess {
        alias {{ app_goaccess_dir }};
    }

    # additional config
    include snippets/general.conf;
}
